.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 150px;
    height: 300px;
    width: 300px;
    border-radius: 90%;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 40px;
    font-variant: petite-caps;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(260deg , #DF8908 12% , #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    font-variant: petite-caps;
}
.hero-action{
    display: flex;
    align-items: center;
    gap:25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 20px 40px;
    border-radius: 60px;
    background: linear-gradient(260deg , #DA7C25 0.36% , #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
}
.resume{
    border: 2px solid white;
    padding: 20px 40px;
    border-radius: 60px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(260deg , #DA7C25 0.36% , #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant: petite-caps;
}
.hero-connect:hover{
    border: 2px solid white;
}
.resume:hover{
border-color: #B415FF;
}
.button2{
    text-decoration: none;
    color: white;
}
@media(max-width:768px){
    .hero img{
        margin-bottom: 120px;
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        line-height: 32px;
        font-size: 18px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}