.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 800;
    font-variant: petite-caps;
}
.about-section{
display: flex;
gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    font-variant: petite-caps;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 50px ;
     cursor :alias;
}
.about-skill{
display: flex;

align-items: center;
}

.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
    font-variant: petite-caps;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg , #DF8908 -5.09% , #B415FF 106.28%);
}
.about-achievements{
    display: flex;
    width: 100% ;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg ,  #DF8908 50.09% , #B415FF 90.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
    font-variant: petite-caps;
}
.about-skill:hover{
    transform :scale(1.10);
    transition :0.3s;
}
.about-achievement:hover{
    transform: scale(1.15);
    transition: 0.5s;
}